@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo {
  background: rgba(181, 189, 165, 0.7);
  cursor: pointer;
  width: 50px;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: whitesmoke;
  text-decoration: none;
}

header {
  display: flex;
  background: #24252a;
  justify-content: space-between;
  /*justify-content: flex-end;  to make them all go to right side and add margin-right:auto to the .logo to make it float to the left side*/
  align-items: center;
  padding: 20px 10%;
  position: relative;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease;
}

.nav_links li a:hover {
  color: rgb(28, 145, 145);
}

button {
  padding: 9px 25px;
  background: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: rgba(0, 136, 169, 0.7);
}

.contentof1 {
  position: absolute;
  top: 30%;
  color: rgb(6, 19, 3);
  font-size: 3rem;
  text-decoration: solid;
  text-transform: capitalize;
  text-align: center;
  background: rgba(184, 137, 137, 0.5);
  border-radius: 10%;
}
.content1 {
  background: url(../images/bakery.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
}

.content2 {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 16px;
  padding: 20px 5%;
  background: linear-gradient(to right, #13a43e 0%, #3168cb 76%, #144e75 100%);
  padding-bottom: 20px;
}

.card_category {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 70px;
}
.card_title {
  font-size: 16px;
  font-weight: 700;
  color: whitesmoke;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 60px;
  transition: all 0.3 ease;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.card:nth-child(1) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url("../images/sweets.jpg");
}
.card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url("../images/salty.jpg");
}
.card:nth-child(3) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url("../images/birthday.jpg");
}
.card:nth-child(4) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url("../images/special.jpg");
}
.card:nth-child(5) {
  background-image: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0) 0%,
      rgba(10, 10, 10, 0) 50%,
      rgba(10, 10, 10, 0.7) 100%
    ),
    url("../images/rewards.jpg");
}

.service {
  text-align: center;
  background: chartreuse;
}

.card:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-auto-rows: auto;
}
.card:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-auto-rows: auto;
}
.card:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-auto-rows: auto;
}
.card:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-auto-rows: auto;
}
.card:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-auto-rows: auto;
}

.moreinfo {
  color: rgb(189, 145, 145);
  background: rgba(109, 126, 85, 0.5);
  border-radius: 5px;
}
